.reg{

    /* estilos */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    animation: fadeIn 1s ease-in-out;
}

.form-title {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}